.PageLayout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 40px 40px 1fr;
  grid-template-areas:
    'header'
    'sidebar'
    'footer'
    'main';
}

.PageLayout__header {
  grid-area: header;
}

.PageLayout__main {
  grid-area: main;
}

.PageLayout__sidebar {
  grid-area: sidebar;
}

.PageLayout__footer {
  grid-area: footer;
}

@media (min-width: 600px) {
  .PageLayout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 40px 80px;
    grid-template-areas:
      'header'
      'main'
      'sidebar'
      'footer';
  }
}

@media (min-width: 900px) {
  .PageLayout {
    grid-template-columns: 48px 1fr;
    grid-template-rows: auto 1fr 80px;
    grid-template-areas:
      'sidebar header'
      'sidebar main'
      'sidebar footer';
  }
}

@media (min-width: 1200px) {
  .PageLayout {
    grid-template-columns: 48px 1fr 48px;
    grid-template-rows: auto 1fr 80px;
    grid-template-areas:
      'sidebar header footer'
      'sidebar main footer'
      'sidebar main footer';
  }
}
