.PageLayout{

    transition: all;

    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 56px 1fr 80px;

    grid-template-areas: 
     "header"
     "main" 
     "footer";
}

.PageLayout__header {
    grid-area: header;
    background-color: red;
}

.PageLayout__main {
    grid-area: main;
    background-color: green;
}

.PageLayout__footer {
    grid-area: footer;
    background-color: blue;
}

@media (max-width:400px) {
    .PageLayout {
        grid-template-rows: repeat(3, 1fr);
    }
  }