.PageLayout {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr 40px 80px;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
}

.PageLayout__header {
  grid-area: header;
}

.PageLayout__main {
  grid-area: main;
}

.PageLayout__sidebar {
  grid-area: sidebar;
}

.PageLayout__footer {
  grid-area: footer;
}
