.Main{
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Main__layout{
    background-color: aqua;

    min-height: 500px;
    width: 100%;
    max-width: 1500px;

    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
     "bigCard bigCard smallCard1 smallCard2"
     "bigCard bigCard smallCard3 smallCard4";
}

.Main-layout__bigCard{
    grid-area: bigCard;
}

.Main-layout__smallCard1{
    grid-area: smallCard1;
}

.Main-layout__smallCard2{
    grid-area: smallCard2;
}

.Main-layout__smallCard3{
    grid-area: smallCard3;
}

.Main-layout__smallCard4{
    grid-area: smallCard4;
}


