.Header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.logo {
  width: 138px;
  height: 33px;
}

.leftSection {
  display: none;
}

.rightSection {
  display: none;
}

a {
  color: #494949;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
}
