.Header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

a {
  display: none;
  color: #494949;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 400px) {
  .Header__burger {
    display: none;
  }

  a {
    display: unset;
  }
}
